# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de dependências
/node_modules
node_modules/
/vendor

# Arquivos de cache
.cache/
.sass-cache/
.eslintcache
cache/

# Arquivos de build
/dist
/build
/out
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
.qodo

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.pem

# Arquivos de IDE e editores
/.idea
/.vscode
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Arquivos de banco de dados
*.sqlite
*.sqlite3
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.installed.cfg
*.egg
venv/
*.tsbuildinfo

# Frontend específico (Next.js)
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz
frontend/coverage
frontend/.next/
frontend/out/
frontend/build
frontend/.DS_Store
frontend/*.pem
frontend/.env*.local
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts
